<form *ngIf="showAddTask" class="add-form" (ngSubmit) = "onSubmit()" #f = "ngForm">
    <div class="form-control">
        <label for="text">Task</label>
        <input 
        type="text" 
        name="text" 
        [(ngModel)] = "text"
        id="text" 
        placeholder="Add Task"
        ngModel required>
    </div>
    <div class="form-control">
        <label for="day">Day and Time</label>
        <input type="text" name="day"
        [(ngModel)] = "day"
        id="day" 
        placeholder="Add Day and time"
        ngModel required>
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input 
        type="checkbox"
        name="reminder"
        [(ngModel)] = "reminder"
        id="reminder"
        >
    </div>
    
    <input type="submit" value="Save Task" class="btn btn-block" [disabled] = "f.invalid">
</form>